li{
}

a {
  text-decoration: none;
  color: inherit;
}

.color-azul{
    color: #00DDFF;
}


.lato {
  font-family: "Lato", sans-serif;
}
.arvo {
  font-family: "Arvo", serif;
}

.cursiva {
  font-family: "Pacifico", cursive;
}

body {
  margin: 0%;
  padding: 0%;
}

.encabezado {
  background: #272727;

  border-bottom: 2px solid #272727;

  justify-content: space-between;

  height: 90px;
  width: 100%;
}

.cuerpo-encabezado {
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-between;
}

.logo {
  width: 200px;
  height: 210px;
  display: flex;
  font-size: 100px;
}

.logito {
  position: relative;
  bottom: 60px;
  left: 100px;
}

.direccion {
  position: relative;
  top: 30px;

  width: 500px;
  height: 35px;
  display: flex;
  justify-content: space-between;

  font-size: 25px;

  color: #ffff;
}

.redes {
  position: relative;
  top: 25px;
  right: 60px;

  width: 300px;
  height: 35px;
  display: flex;
  justify-content: space-between;
}

.main {
  border-bottom: 2px solid #272727;
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 4000px;
}

.cuerpo-main{
    margin: 0%;
    padding: 0%;
    height: 100%;
    width: 100%;


}

.cuerpo-home {
  width: 100%;
  height: 960px;

  display: flex;
  justify-content: space-between;

  background: #272727;

 
}

.intro {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
  width: 600px;

  position: relative;
  top: 150px;
  left: 45px;
  z-index: 2;

  color: #ffffff;

}

.nombre{
    position: relative;
    left: 15px;
    bottom: 0px;
    font-size: 60px;
    font-family: 'Arvo', serif;
}

.titulo1{
    font-size: 150px;
}

.titulo2{

    position: relative;
    bottom: 40px;
    left: 415px;
    font-size: 80px;
}

.descripcion{
    width: 920px;

    position: relative;
    bottom: 10px;

    font-size: 20px;
}

.boton{
    position: relative;
    top: 40px;

    color: #ffff;

    background: none;
    border: none;
    cursor: pointer;
    border-bottom: 2px solid #00DDFF;

    font-size: 40px;
    transition: font-siza 1s;
}

.boton:hover{
    font-size: 41px;
}


.imagen-portada {
  max-width: 100%;
  width: 2500px;
}

.portada {
  position: relative;

  width: 100%;
  height: 100%;

  opacity: 0.5;
}

.cuerpo-about-me{
    width: 100%;
    height: 1500px;
  
    display: flex;
    flex-direction: row-reverse ;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, #272727 5%, #525252 80% );
    
}

.info{

    position: relative;
    top: 150px;


    width: 900px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;


  
}

.cuerpo-info1{

  color: #ffffff;

  width: 100%;
  height: 400px;
}

.titulo-about-me{

  display: flex;

}

.titulo-about{

  color: #ffffff;
  font-size: 130px;
}

.titulo-me{

  position: relative;
  top: 50px;
  left: 20px;
  font-size: 80px;
}

.ocupacion{

  position: relative;
  top: 10px;
  color: #ffffff;

  font-size: 30px;
}

.texto-info{

  position: relative;
  top: 30px;

  width: 600px;

  font-size: 18px;
}

.cuerpo-info2{

  display: flex;
  justify-content: space-between;



  width: 100%;
  height: 200px;

}

.info-experience{

  position: relative;
  bottom: 60px;


  display: flex;
  justify-content: space-between;
  width: 400px;
  height: 25px;

  font-size: 18px;
  color: #ffffff;
  border-top: #00DDFF 2px solid;
}

.imagen-portada-2 {
  position: relative;
  top: 270px;
  left: 150px;
  width: 500px;
  height: 700px;
}

.foto2{
  width: 100%;
  height: 100%;

  box-shadow: 10px 10px 10px rgba(0, 217, 255, 0.993);
}

.contenido-skills{

  position: relative;
  top: 50px;
  right: 400px;

  display: none;
  justify-content: space-between;
  flex-direction: row;

  width: 500px;
  height: 200px;

}

.con-Skills{
  width: 500px;
  height: 200px;

  display: flex;
  justify-content: space-between;
  flex-direction: row;

}

.c-s{

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: #ffffff;

}

.li-1{
  list-style: none;
}

.li-1::before {
  content: "\2022"; /* Utiliza el carácter de viñeta (•) como marcador */
  color: #00DDFF; /* Cambia el color de la viñeta a rojo */
  margin-right: 0.5em; /* Añade un espacio entre la viñeta y el texto */
}

.contenido-experience{
  position: relative;
  top: 50px;
  right: 400px;

  display: none;
  justify-content: space-between;
  flex-direction: row;

  width: 500px;
  height: 200px;

}

.con-Experience{
  width: 700px;
  height: 300px;

  display: flex;
  justify-content: space-between;
  flex-direction: row;

}

.c-e{

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: #ffffff;

}

.contenido-education{
  position: relative;
  top: 50px;
  right: 400px;

  display: none;
  justify-content: space-between;
  flex-direction: row;

  width: 500px;
  height: 200px;

}

.con-Education{
  width: 700px;
  height: 300px;

  display: flex;
  justify-content: space-between;
  flex-direction: row;

}

.c-edu{

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: #ffffff;

}


.education {
  border-bottom: 1px solid #00ddff00;
  border-radius: 3px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease, border-color 0.2s ease, color 0.2s ease;
}

.education:hover {
  transform: translateY(2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-color: #00DDFF; 
}

.education:active {
  transform: translateY(-1px);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}


.experience {
  border-bottom: 1px solid #00ddff00;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease, border-color 0.2s ease, color 0.2s ease;
}

.experience:hover {
  transform: translateY(2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-color: #00DDFF; /* Cambio de color del borde al pasar el ratón */
}

.experience:active {
  transform: translateY(-1px);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.skills {
  border-bottom: 1px solid #00ddff00;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease, border-color 0.2s ease, color 0.2s ease;
}

.skills:hover {
  transform: translateY(2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-color: #00DDFF; /* Cambio de color del borde al pasar el ratón */
}

.skills:active {
  transform: translateY(-1px);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}





.cuerpo-portfolio{
    width: 100%;
    height: 100px;

    background: #f70088;

}

.footer {
  border-bottom: 2px solid #272727;
  background: #272727;
  width: 100%;
  height: 1000px;
}


.about_me {
  border-bottom: 1px solid #00ddff00;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease, border-color 0.2s ease, color 0.2s ease;
}

.about_me:hover {
  transform: translateY(2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-color: #00DDFF; /* Cambio de color del borde al pasar el ratón */
}

.about_me:active {
  transform: translateY(-1px);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/*


.cuerpo-about-me{
    width: 100%;
    height: 300px;

}

.cuerpo-portfolio{
    width: 100%;
    height: 300px;

}

*/
