body{
    display: flex;
    background-color: #272727;

}

a{
    text-decoration: none;
    color: inherit;
}

.lato{
    font-family: 'Lato', sans-serif;
}
.arvo{
    font-family: 'Arvo', serif;

}

.encabezado{
    position: absolute;
    top: 0%;
    left: 0%;

    display: flex;
    justify-content: space-between;

    height: 90px;
    width: 100%;

    font-family: 'Lato', sans-serif;

}

.logo{
    width: 100px;
    height: 210px;
    display: flex;
    font-size: 100px;
}

.logito{
    position: relative;
    bottom: 60px;
    left: 100px;
}

.direccion{
    position: relative;
    top: 30px;

    width: 500px;
    display: flex;
    justify-content: space-between;

    font-size: 25px;

    color: #ffff;

}

.redes{
    position: relative;
    top: 20px;
    right: 50px;

    width: 300px;
    display: flex;
    justify-content: space-between;
}











.cuerpo{

    display: flex;
    justify-content: space-between;

    position: absolute;
    top: 250px;
    left: 0%;

    width: 100%;
    height: 1134px;
    

    color: #ffff ;
}

.intro{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
    width: 600px;

    position: relative;
    left: 45px;
    z-index: 2;
}

.nombre{
    position: relative;
    left: 15px;
    bottom: 0px;
    font-size: 60px;
    font-family: 'Arvo', serif;
}

.imagen-portada{
    max-width: 100%;
    width: 1500px;

}

.portada{

    z-index: 1;

    position: relative;
    bottom: 170px;

    width: 100%;
    height: 945px;

    opacity: 0.5;
}

.titulo1{
    font-size: 150px;
}

.titulo2{

    position: relative;
    bottom: 40px;
    left: 415px;
    font-size: 80px;
}

.descripcion{
    width: 920px;

    position: relative;
    bottom: 10px;

    font-size: 20px;
}

.boton{
    position: relative;
    top: 40px;

    color: #ffff;

    background: none;
    border: none;
    cursor: pointer;
    border-bottom: 2px solid #00DDFF;

    font-size: 40px;
    transition: font-siza 1s;
}

.boton:hover{
    font-size: 41px;
}


.color-azul{
    color: #00DDFF;
}







